In [19]:
import pandas as pd

In [20]:
df_movies_one=pd.read_csv('data/imdb_1000_clean.csv', index_col ='Rank')

In [21]:
type(df_movies_one)

pandas.core.frame.DataFrame

In [22]:
df_movies_one.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             1000 non-null   object
 1   genre             1000 non-null   object
 2   description       1000 non-null   object
 3   director          1000 non-null   object
 4   actors            1000 non-null   object
 5   year              1000 non-null   int64
 6   runtime_minutes   1000 non-null   int64
 7   rating            1000 non-null   float64
 8   votes             1000 non-null   int64
 9   revenue_millions  1000 non-null   float64
 10  metascore         1000 non-null   float64
dtypes: float64(3), int64(3), object(5)
memory usage: 93.8+ KB

In [23]:
df_movies_one.describe()

,year,runtime_minutes,rating,votes,revenue_millions,metascore
count,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000
mean,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,3.205962,18.810908,0.945429,1.887626e+05,96.412043,16.634858
min,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,2010.000000,100.000000,6.200000,3.630900e+04,17.442500,47.750000
50%,2014.000000,111.000000,6.800000,1.107990e+05,60.375000,58.985043
75%,2016.000000,123.000000,7.400000,2.399098e+05,99.177500,71.000000
max,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### Mean, median, mode
### Standard Deviation and Variance
### Skewness
### What is normal distribution?
### Kurtosis

### Different charts
* Line graphs - dealing with data collected over time, time series. Trend of data.
* Pie chart -Categorical data e.g less than 10 categories. Display count / sum.
* Bar graph - Many Categories / Time series /.....
* Scatter plot - Distribution of data points /Trend .
* Boxplot - outliers /max/min/....Distribution. How the Trend moves.

In [24]:
gn=df_movies_one['genre']

In [25]:
gn.value_counts().head()

Action,Adventure,Sci-Fi    50
Drama                      48
Comedy,Drama,Romance       35
Comedy                     32
Drama,Romance              31
Name: genre, dtype: int64

In [26]:
dr = df_movies_one['director'].value_counts().head()

In [27]:
dr

Ridley Scott          8
Michael Bay           6
Paul W.S. Anderson    6
David Yates           6
M. Night Shyamalan    6
Name: director, dtype: int64

In [28]:
rtn = df_movies_one['rating'].value_counts().head()

In [29]:
rtn

7.1    52
6.7    48
7.0    46
6.3    44
6.6    42
Name: rating, dtype: int64